<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/world.css' />
    <script data-main="scripts/world/boot" src='/javascripts/require.js' />

  </head>
  <body>
   <div class="world"></div>
  </body>
</html>